.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

.sliderContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: auto;
}

/* Add the horizontal scrolling animation */
@keyframes scrollHorizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.swiper-wrapper {
  display: flex;
  animation: scrollHorizontal 10s linear infinite; /* Adjust duration as needed */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #222;
  transition: transform 200ms ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  background-color: #222;
}
